{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gerenciador de Tarefas</title>
        <link rel="stylesheet" href="{% static 'task/styles/tasks.style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container mt-5">
            <h1 class="text-center">Bem-vindo à página de tarefas!</h1>
            <p class="text-center">Aqui você pode gerenciar suas tarefas.</p>

            <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tarefa</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Data de Vencimento</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for tarefa in tarefas %}
                <tr>
                    <th scope="row">{{ tarefa.id }}</th>
                    <td>{{ tarefa.titulo }}</td>
                    <td>{{ tarefa.descricao }}</td>
                    <td>{{ tarefa.data }}</td>
                    <td>{% if tarefa.status %} Concluído {% else %} Pendente {% endif %}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'edit_task' %}">Editar</a>
                        
                        <button type="button" class="btn btn-danger btn-sm" 
                                data-bs-toggle="modal" 
                                data-bs-target="#deleteModal{{ tarefa.id }}">
                            Excluir
                        </button>
                    </td>

                    <div class="modal fade" id="deleteModal{{ tarefa.id }}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirmar Exclusão</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Deseja realmente excluir a tarefa: <strong>{{ tarefa.titulo }}</strong>?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <a href="{% url 'delete_task' %}" class="btn btn-danger">Confirmar Exclusão</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </tr>               
                {% endfor %}
            </tbody>
            </table>
            <a class="btn btn-success" href="{% url 'create_task' %}">Nova Tarefa</a>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>